---
import BaseLayout from '../layouts/BaseLayout.astro'
import Greeting from '../components/Greeting'
const pageTitle = '首页'
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <!-- 第一个按钮不可交互 -->
  <!-- <Greeting messages={['嗨', 'Hello', '您好', '嘻，您好']} /> -->
  <!-- 第二个按钮可工作，因为 client:load 指令告诉 Astro 在页面加载时将其 JavaScript 发送并重新运行到客户端上，
    使组件可交互。这称为 被 Hydrate 的 组件。 -->
  <Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']} />
</BaseLayout>
